<html>
	<head>
	</head>
	<body>
	   <ul class="list-group">
           {% for photo in variables.photos %}
	    <li class="list-group-item">
             <img src="{{ photo }}" class="img-circle" height="500" />
            </li>
	   {% endfor %}
           </ul>
	</body> 
</html>
